<a href="https://colab.research.google.com/github/achalesh27022003/Lyrics-Generator/blob/master/basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
i=0
while(i<=10):
    print(i, end=" ")
    i = i+1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
i=0
while(i <=10):
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10,30,1):
    print(i,end = ",")

10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,

In [ ]:
#Data structures
- List
-Tuple
-sets
-Dictionary

In [ ]:
s =  "Hello Coding Blocks"
#negative indexing
print(s[-1])
#slicing
#var[start_index:end_index+1]
print(s[1:4])
print(s[:])

s
ell
Hello Coding Blocks

In [ ]:
print(s[0:13:2])

HloCdn

In [ ]:
#Heteregenous List
li =[1,2,3.5,-8,"Hello","Python",True,[3,4,5]]
print(li)

[1, 2, 3.5, -8, 'Hello', 'Python', True, [3, 4, 5]]

In [ ]:
print(li[2:7])

[3.5, -8, 'Hello', 'Python', True]

In [ ]:
print(li[::-1])

[[3, 4, 5], True, 'Python', 'Hello', -8, 3.5, 2, 1]

In [ ]:
print(li[::-2])

[[3, 4, 5], 'Python', -8, 2]

In [ ]:
li.append("Achalesh")

In [6]:
#we can't backtraverse , we just can go in front.
li = [1,2,3,4]
print(li[-1:-3])

[]

In [7]:
# like this will work
li = [1,2,3,4]
print(li[-3:-1])

[2, 3]

In [8]:
#for backtraversing we will use step sizing , by default it is 1. but in this case take it to be -1.
li = [1,2,3,4]
print(li[-1:-3:-1])

[4, 3]

In [ ]:
#tuple is something like read-only list. Unlike list, in tuple you cannot change variable value. Elements are immutable.
#Dictionary
dic = {
    "samosa":10,
    "burger":20,
    "momos":25,
    "pizza":35
}
dic.values()

dict_values([10, 20, 25, 35])

In [ ]:
dic.keys()

dict_keys(['samosa', 'burger', 'momos', 'pizza'])

In [ ]:
dic.items()

dict_items([('samosa', 10), ('burger', 20), ('momos', 25), ('pizza', 35)])

In [ ]:
dic["burger"]

20

In [ ]:
#insering elements in dictionary
dic["juice"] = 15

In [ ]:
#do not get any error
dic.get("icecream")

In [ ]:
dic["fruits"] = {
    "mango":15,
    "banana":90,
    "apple":30
}

In [ ]:
dic["fruits"]["apple"]

30